<div class="container">
  <footer class"footer">
    <small>
      Copyright &copy; <%= link_to "Developed with Rails", root_path %>
      by <%= link_to "Zubayear", root_path %>
    </small>
    <nav>
      <ul>
        <li><%= link_to("About", welcome_about_path) %></li>
        <li><%= link_to("Projects", projects_path) %></li>
        <li><%= link_to("Github", "https://github.com/Zubayear") %></li>
        <li><%= link_to("LinkedIn", "https://www.linkedin.com/in/zubayear/") %></li>
        <li><%= mail_to("syedjubaer997@gmail.com", "Contact") %></li>
      </ul>
    </nav>
  </footer>
</div>
