<div class="container">
  <footer class"footer">
    <small>
      Copyright &copy; <a href="https://site-jubaer.herokuapp.com">Developed with Rails</a>
      by <a href="https://site-jubaer.herokuapp.com">Zubayear</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to("About", welcome_about_path) %></li>
        <li><%= link_to("Projects", projects_path) %></li>
        <li><%= link_to("Github", "https://github.com/Zubayear") %></li>
        <li><%= link_to("LinkedIn", "https://www.linkedin.com/in/zubayear/") %></li>
        <li><%= mail_to("syedjubaer997@gmail.com", "Contact") %></li>
      </ul>
    </nav>
  </footer>
</div>
